<script setup lang="ts">

import {ref} from "vue";

const loading = ref(false);
const inputValue = ref("");
const results = ref<string[]>([]);

const search = () => {
  loading.value = true

  setTimeout(()=>{
    loading.value = false;

    results.value = ["tema1", "tems2"]

  }, 1000)

  const requestOptions = {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ title: "Vue POST Request Example" })
  };

  fetch("/api/v1/research", requestOptions)
    .then(response => response.json())
    .then(data => {
      console.log("data: ", data);
    }).then(() => loading.value = false)


  console.log("azaza", inputValue.value);
}

const clear = () => {
  results.value = []
  inputValue.value = ""
}
</script>

<template>
  <section class="wrap">
      <section class="search item">
        <v-text-field
            :loading="loading"
            v-model="inputValue"
            density="compact"
            variant="solo"
            label="Введите адрес сайта"
            single-line
            hide-details
        ></v-text-field>

        <v-btn
            class="button"
            color="indigo"
            :disabled="loading"
            @click="search">
          Посмотрим
        </v-btn>
      </section>

    <section class="item">
      <v-chip v-for="r in results" class="ma-2" color="primary">{{ r }}</v-chip>
    </section>

    <section class="item">
      <v-btn
          v-if="results.length > 0"
          class="button"
          color="indigo"
          @click="clear">
        Очистить
      </v-btn>
    </section>


<!--    <section class="item" v-if="loading">-->
<!--      loader-->
<!--    </section>-->
  </section>
</template>


<style scoped>
.item {
  padding-bottom: 2rem;
}



.search {
  width: 600px;
  display: flex;
  align-items: center;
}

.button {
  margin-left: 1rem;
}

</style>

<!--//color: "grey-lighten-3";-->